<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qat.crud.domain.Bundle.BAR.mapper.BundleMapper">

    <resultMap id="fetchByIdResultMap" type="bundle">
        <result column="id" property="id" />
        <result column="namePackage" property="namePackage" />
        <result column="zipCodeOrigin" property="zipCodeOrigin" />
        <result column="zipCodeDestin" property="zipCodeDestin" />
        <result column="description" property="description" />
        <result column="status" property="status" />
        
    </resultMap>

    <select id="fetchById" parameterType="java.lang.Long" resultMap="fetchByIdResultMap">
        SELECT id,
        namePackage,
        zipCodeOrigin,
        zipCodeDestin,
        description,
        status
        FROM bundle
        WHERE id = #{id}
    </select>
</mapper>
